.title-container {
    animation: title-ease 1s ease-in-out forwards;
}
.title {
    font-family: Anton;
    font-size: 12vw;
    text-align: center;
    margin: 0 auto;
    color: #fce6a6;
    background-color: #a32f35;
    text-shadow: 0.08em 0em #932a30;
}

.title div {
    display: inline-block;
    padding: 20vh 3vw 5vh 3vw;
}
.title span {
    margin: 0 0.2vw 0 0.2vw;
}
.subtitle {
    font-weight: 400;
    font-size: 2vw;
    text-align: center;
    color: #a32f35;
    width: 60vw;
    margin: 0 auto;
    margin-top: 7vh;
}

.bounce {
    display: inline-block;
    animation: title-bounce 1s ease-in-out forwards;
}
.bold {
    font-size: 2.1vw;
    font-weight: 600 !important;
    color: #a32f35;
    transition: .3s ease-in;
}

@keyframes title-ease {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes title-bounce {
    50% {
        transform: rotate(-20deg) translateY(-10px);
    }
    70% {
        transform: rotate(4deg) translateY(10px);
    }
    100% {
        transform: rotate(0deg) translateY(0px);
    }
}

@media only screen and (max-width: 769px) {
    .title {
        font-size: 15vw;
    }
    .title div {
        padding: 15vh 5vw 5vh 5vw;
    }
    .bold {
        font-size: 3.1vw;
    }
    .subtitle {
        font-size: 3vw;
        margin-top: 2vh;
        width: 70vw;
    }
}