.title-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    animation: title-ease 1s ease-in-out forwards;
}


@keyframes title-ease {
    from {
        padding-top: 100px;
        opacity: 0%;
    }
    to {
        padding-top: 300px;
        opacity: 100%;
    }
}

.title-container {
    width: 500px;
}

.title-container h2 {
    font-weight: 400;
    text-align: justify;
    margin: 0;
    font-size: 30px;
    color: #292929;
}

.title-container a {
    text-decoration: none;
    transition: .3s ease-in;
}

.title-container a:hover {
    color: #f75178 !important;
}
