.title-container {
    position: relative;
    width: 100%;
    animation: title-ease 1s ease-in-out forwards;
}

.title-container h1 {
    font-size: 300px;
    font-family: Anton;
    text-align: center;
    color: #fce6a6;
    background-color: #a32f35;
    text-shadow: 0.08em 0em #932a30;
    margin: 0 0 50px 0;
}

.title-container h1 span {
    padding: 0 50px 0 50px;
}

.title-container h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #a32f35;
    width: 90%;
    margin: 0 auto;

}

.title-container a {
    text-decoration: none;
    transition: .3s ease-in;
}

.bounce {
    display: inline-block;
    animation: title-bounce 1s ease-in-out forwards;
}

.bold {
    font-weight: 600 !important;
    font-size: 35px;
    color: #a32f35;
    transition: .3s ease-in;
}

/* .stroke {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: -210px;
    z-index: 100;
}

.path {
    fill-opacity: 0;
    animation: 0.5s fill 1.5s ease-in-out forwards;
}
@keyframes fill {
    0% {
        fill-opacity: 0;
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    100% {
        fill-opacity: 1;
        transform: rotate(0deg);
    }
} */
@keyframes title-ease {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes title-bounce {
    50% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
