.navigation-bar {
    position: fixed;
    top: 0px;
    padding: 2vh 0 2vh 0;
    background-color: #a32f35;
    z-index: 100;
    width: 100vw;
}

.navigation-menu {
    display: flex;
    border-radius: 1vw;
    padding: 2vh 0 2vh 0;
    justify-content: center;
    gap: 1vw;
    width: 30vw;
    margin: 0 auto;
}

.navigation-menu li {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 1.3vw;
    text-align: center;
    list-style: none;
    opacity: 0%;
}

.navigation-menu a {
    text-decoration: none;
    color: #fce6a6;
    transition: .3s ease-in-out;
}

.navigation-menu a:hover {
    font-weight: 800;
    transition: .5s ease-in-out;
}

.badge {
    position: absolute;
    top: -1.5vh;
    right: -1.5vw;
    font-size: 0.8vw;
    text-align: center;
    padding: 0.3vh 0.5vw;
    border-radius: 1vw;
    background: #ed5749;
    color: white;
}

.animate-fade {
    animation: navigation-bounce 0.5s ease-in-out forwards;
}

@keyframes navigation-bounce {
    0% {
        opacity: 0%;
        transform: translateY(-1vh);
    }
    50% {
        opacity: 100%;
        transform: translateY(0.1vh);

    }
    100% {
        transform: translateY(0.1vh);
        opacity: 100%;
    }
}

@media only screen and (max-width: 769px) {
    .badge {
        top: -2.5vw;
        right: -2.9vw;
        font-size: 2vw;
        padding: 0.2vh 1.2vw;
        border-radius: 1.2vw;
    }

    .navigation-menu {
        gap: 5vw;
    }
    .navigation-menu li {
        font-size: 2vh;
    }
}
  