.navigation-bar {
    background-color: #fce6a6;

    position: sticky;
    top: 0px;
    padding: 150px 0 50px 0;

    z-index: 1000;
    width: 100%;
}

.navigation-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 450px;

    margin: 0 auto;
    padding: 10px 0 10px 0;

    border: 3px solid #a32f35;
    border-radius: 20px;
}

.navigation-menu li {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    list-style: none;
    opacity: 0%;
}

.navigation-menu a {
    text-decoration: none;
    color: #a32f35;
    transition: .5s ease-in-out;
}

/* .navigation-menu a:hover {
    font-size: 28px;
    transition: .5s ease-in-out;
} */

.animate-fade {
    opacity: 100% !important;
    transition: .5s ease-in-out;
}