body {
    margin: 0;
    background-color: #FFFBED;
}

.title-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    animation: title-ease 1s ease-in-out forwards;
}

.bold {
    font-weight: 600 !important;
}

.pink {
    color: #FC7998 !important;
}


@keyframes title-ease {
    from {
        padding-top: 100px;
        opacity: 0%;
    }
    to {
        padding-top: 200px;
        opacity: 100%;
    }
}