html {
    scroll-behavior: smooth;
    user-select: none;
}
body {
    font-family: "Oswald" !important;
    margin: 0;
}
.bold {
    font-weight: 600 !important;
}

.pink {
    color: #FC7998 !important;
}